.q-carousel
    height: 600px
a, a:hover, a:visited, a:link, a:active
    text-decoration: none
    color:#000
    outline: none

.pointer
    cursor: pointer

.container
    width: 1280px
    margin: auto

.colorbigbox
    display: flex    

.colorbox
    display: inline-block
    color: white
    width: 20px
    height: 20px

.objectFit
    object-fit: cover

.little-padding
    padding: 0 2px

    
.q-px-xxl
    padding-right: 60px
    padding-left: 60px
.q-px-xxxl
    padding-right: 150px
    padding-left: 150px
.q-my-xxl
    margin-top: 60px
    margin-bottom: 60px
.q-mt-xxl
    margin-top: 60px
.q-my-xxxl
    margin-top: 150px
    margin-bottom: 150px 
.q-mb-xxxl
    margin-bottom: 150px 
.q-ma-xxs
    margin: 2px 2px
.left-line
    border-left: 1px solid rgba(0,0 ,0 ,0.12 )

.width-hundred
    width: 100%

.object-top
    object-position: 50% 0%

.transparent-background
    background: rgba(0,0 ,0 , 0) !important